<%= render '/activities/jumbotron', title: "Forgot your password?" %>

<div class="container pb-5">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <% f.options[:html][:class] += ' container-600px' %>
    <%= devise_error_messages! %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", :class => 'btn btn-info btn-lg' %>
    </div>
  <% end %>
  <hr class="my-5">
  <%= render "devise/shared/links" %>
</div>
