<div class="jumbotron jumbotron-fluid site-hero">
  <div class="container">
    <h2 class="display-4 text-white">My Activities</h2>
  </div>
</div>

<div class="container py-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Activity</th>
        <th scope="col">Date</th>
        <th scope="col">Duration (mins)</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td><%= link_to activity.name, activity %></td>
          <td><%= activity.date %></td>
          <td><%= activity.duration %></td>
          <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
          <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add New Activity', new_activity_path, :class => 'btn btn-info btn-lg' %>

</div>
