<%= render 'jumbotron', title: "My Activities" %>

<div class="container pb-5">
  <div class="card card-container">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Activity:</th>
          <td><%= @activity.name %></td>
        </tr>
        <tr>
          <th scope="row">Date:</th>
          <td><%= @activity.date %></td>
        </tr>
        <tr>
          <th scope="row">Duration:</th>
          <td><%= @activity.duration %> minutes</td>
        </tr>
      </tbody>
    </table>
    <div class="card-body">
      <%= link_to 'Edit', edit_activity_path(@activity), :class => 'btn btn-info btn-lg'  %>
    </div>
  </div>
  <hr class="my-5">
  <%= link_to 'Back', activities_path, :class => 'btn btn-secondary btn-lg' %>
</div>
